/* Entire Document Style*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

/*Text Styles*/
h1 {
  color: white;
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
  color: white;
}

p {
  color: white;
  font-size: 1.25rem;
}
/*Navigation Bar CS*/
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  padding-bottom: 15px;
  height: 15px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-left {
  display: inline-block;
}

.top-bar-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-bar-links li {
  display: inline-block;
  margin: 0 10px;
}

.heart {
  margin-left: 10px;
  margin-right: 10px;
}

/*NPM Bar CSS*/

header {
  background: #215A7A;
}

.header-bar {
  background: #215A7A;
  padding: 20px 20px;
}

.header-bar form {
  display: inline-block;
  width: 1100px;
  text-align: center;
  margin-left: 25px;
}
 
.header-bar form input {
  width: 1032px;
  background-color: rgb(31, 82, 111);
  border: none;
  height: 40px;
}

.header-bar form button {
  background-color: rgb(31, 82, 111);
  border: none;
  height: 42px;
  padding-bottom: 1px;
}

.bar-content {
  float: right;
  color: white;
  padding-top: 10px;
  padding-right: 30px;
}

.bar-content a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 70px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.teddy {
  width: 25px;
  height: auto;
  vertical-align: middle;
}

.logo, .teddy {
  display: inline-block;
}

/*Header CSS*/

.content-header {
  width: 800px;
  padding: 64px;
  margin: 0 auto;
}

.header-bg {
  background-image: url(https://static.npmjs.com/images/hero-cityscape.svg);
  padding-bottom: 50px;
}

.content-header p {
  width: 300px;
}

.content-header h1 {
  width: 400px;
}

.content-header button {
  background: rgb(240, 146, 51);
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  padding: 7px 18px 8px 18px;
  width: 200px;
}

/*Collaboration Section*/

#org {
  background: rgb(39, 53, 71);
  height: 600px;
  padding: 64px;
}

.org-content {
  width: 900px;
  margin: 0 auto;
  padding: 64px;
}

.org-content img {
  width: 448px;
}

.org-text {
  float: right;
  display: inline-block;
  width: 380px;
}

.org-text ul {
  color: white;
  width: 350px
}

.org-text li {
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.org-text button {
  background-color: rgb(203, 56, 55);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 7px 18px 8px 18px;
  font-size: 18px;
}

/*What is NPM Section*/

#what {
  background: url(images/forklift.svg);
  padding: 64px;
  background-size: cover;
  position: relative;
  height: 350px;
}

.what-content {
  width: 40%;
  padding: 64px;
  position: absolute;
  left: 180px;
  bottom: 100px;
}

.what-content p{
  width: 400px;
}

.what-content button {
  background-color: rgb(49, 68, 88);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 7px 18px 8px 18px;
  font-size: 18px;
}

/*What can you make section*/

#make {
  height: 600px;
  background: white;
}

.content-make {
  padding: 64px;
  margin: 0 auto;
  width: 992px;
}

.make-heading h2, p {
  color: black;
}

.make-heading p {
  padding-bottom: 60px;
  color: rgb(135, 145, 156);
}

.make-heading h2 {
  color: rgb(83, 88, 98);
}

.make-heading  {
  text-align: center;
}

.column {
  float: left;
  width: 33%;
  text-align: center;
}

.content-box:after {
  content: "";
  display: table;
  clear: both;
}

.column a {
  color: rgb(208, 74, 73);
}